{% extends 'base.html' %}

{% block content %}
    <h1>Об авторе</h1>
    <div class="row">
        <div class="col-md-4">
            <img class="avatar" src="{{ url_for('static', filename='images/avatar.jpg') }}" alt="">
        </div>
        <div class="col-md-8">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum mollitia totam recusandae necessitatibus alias aliquid, pariatur, veniam veritatis a odio facilis non reiciendis quia ipsum. Esse fugit laboriosam ducimus dolor.
            </p>
        </div>
    </div>
{% endblock %}